@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

.loading {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent url("https://portal-ap.campusm.exlibrisgroup.com/assets/Murdoch/Murdoch/loading-spinner.gif") center no-repeat;
  background-size: 3rem;
  margin-top: 0;
  text-align: left;

  p {
    padding: 1rem;
    font-weight: 400;
    font-size: 1rem !important;
    line-height: 1.4rem !important;
  }

  &.reduced {
    p {
      font-size: 0.9rem !important;
      line-height: 1.2rem !important;
    }
  }
}

.faceContainer {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #2C3D7D;
  color: #fff;

  // https://coderwall.com/p/yyou-q/css3-calc-in-less-css
  .whatsOnEvents {
    margin: 1rem;
    height: ~"calc(100% - 2rem)";
    overflow: hidden;
    position: relative;

    .imageHotspot {
      display: inline-block;
      height: 100%;
      width: 30%;
      position: static;
      .image {
        height: 100%;
        position: static;
        width: 100%;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-image: url(https://portal-ap.campusm.exlibrisgroup.com/assets/Murdoch/Murdoch/events-fallback-1.png);
        background-color: transparent;
        background-position: 50%;
      }
    }

    .rightPane {
      display: inline-block;
      height: 100%;
      width: 67%;
      position: relative;
      vertical-align: top;
  
      .textHotspot {
        display: block;
        text-decoration: none !important;
        margin-left: 0.75rem;

        .article { 
          .latestEvent {
            position: static;
            width: 100%;
            font-size: larger;
            font-weight: bold;
            text-align: left;
            margin-top: -0.4rem;
          }

          .title {
            position: static;
            color: #fff;
            font-weight: bold;
            text-align: left;
            margin-bottom: 0;
            font-size: .9rem !important;
            line-height: 1.3rem !important;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
          }
      
          .date {
            position: static;
            font-size: small;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            text-align: left;
          }
        }
      }  
    
      .button {
        position: absolute;
        border: 1px solid #fff;
        border-radius: 3px;
        width: 144px;
        min-width: 184px;
        padding: 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: 0.75rem;
        text-decoration: none;
        .buttonText {
          padding: 0;
          margin: 0;
          font-size: 16px;
          line-height: 16px;
          font-weight: 700;
        }
  
        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}
  
.error {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  margin-top: 0;
  text-align: left;

  p {
    padding: 1rem;
    font-weight: 400;
    font-size: 1rem !important;
    line-height: 1.4rem !important;
  }

  &.reduced {
    p {
      font-size: 0.9rem !important;
      line-height: 1.2rem !important;
    }
  }
}